.nav-button{
    font-size: 14px;
    margin: 0 10px;
    padding: 8px 10px;
    border-radius: 15px;
    cursor: pointer;
    text-decoration: none;
    border: none;
    color: black;
    background-color: #ffffff;
}

.body-button{
    margin: 10px;
    padding: 10px 20px;
    font-size: 20px;
    border-radius: 15px;
    cursor: pointer;
    text-decoration: none;
    border: none;
    color: #ffffff;
    background-color: #704BEC;
}