.signup-container {
  width: 30%;
  padding: 20px 0;
  margin: 10vh auto;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  box-shadow: 2px 5px #888888;
  background-image: linear-gradient(to right, #a34fec, #6a26f3);
}

.page-heading {
  font-size: 32px;
  padding-bottom: 10px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.other-options{
  padding: 10px 0 0;
}

.link{
  padding-left: 5px;
  color: white;
}

.check-box{
  display:flex;
  justify-content: flex-start;
}

@media screen and (max-width: 1020px) {
  .signup-container {
    width: 85%;
  }
}